.character {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}
.character__container--img, .character__info {
    place-self: center;
}
.character__title, .comic__title {
    display: block;
    text-align: center;
    padding: 2rem 0;
    place-self: center;
}
.character__img {
    width: 300px;
}
.comic__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
    list-style-type: none;
}
.comic__item {
    padding-bottom: 1rem;
}
.comic__img {
    width: 90%;
}
.comic_title {
    font-family: 'Oswald', sans-serif;
    padding: .5rem 0;
}

@media screen and (max-width: 1024px) {
    .comic__list {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 768px) {
    .comic__list {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 600px) {
    .character {
        grid-template-columns: 1fr;
    }
    .comic__list {
        grid-template-columns: 1fr 1fr;
    }
}
@media screen and (max-width: 375px) {
    
    .comic__list {
        grid-template-columns: 1fr;
    }
}