.favorites {
    padding-left: 0;
    // max-width: 
}
.favorites__container {
    width: 85%;
    margin: 0 auto;
}
.favorites__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
}
.favorites__img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}
.favorite__name {
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}
.button {
    background-color: #0074fa;
    color: white;
    padding: 1em;
    border: 0;
    border-radius: 10px;
    width: minmax(50px, 100%);
    display: inline-block;
    
}
// @media (max-width: 600px) {
    
// }